
  h2 {
    text-align: center;
    margin: 10px 0 40px 0;
    color: #009933;
    font-size: 20px;
  }
  body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background-color: #F8F8F8;
  }
  li {
      display: block;
      padding: 5px;
      display: inline;
      padding: 0px 10px 0px 10px;
  }
    ul {
      padding: 10px;
      background: white;
  }
img {
  margin: 20px 0 20px 0;
  width: 100%;

}
.col-md-12 {
  height: 60px;
}

  .desktop-title
  {
    display: none;
  }
  .mobile-title {
    display: block;
    color: #009933;
    font-family: 'Marmelad', sans-serif;
    font-size: 60px;


  }
  @media (min-width: 992px) {
    .desktop-title {
      display: block;
      color: #009933;
      font-family: 'Marmelad', sans-serif;
      font-size: 60px;
      text-align: center;
      margin: 5px 0 5px 0;

    }
    .mobile-title {

      display: none;
    }
  }
