

  p {
    text-align: center;
    margin: 10px 0 40px 0;
    color: #008080;
    font-family: 'seasideresortnfregular';
    font-size: 20px;
  }
  body {
    font-family: helvetica, sans-serif;
    background-color:grey;
    background-image: url("leaves_background.jpg");
  }
  li {
      display: block;
      padding: 5px;
      display: inline;
      padding: 0px 10px 0px 10px;
  }


    ul {
      padding: 10px;
      background: white;
  }
img {
  margin: 20px 0 20px 0;
  width: 100%;


}
.col-md-12 {
  height: 60px;
}

.buttons {
  height:60px;
  width: 50px;
  text-align: center;

}

  .desktop-title
  {
    display: none;
  }
  .mobile-title {
    display: block;
    color: #008080;
    font-family: 'seasideresortnfregular';
    font-size: 60px;
    text-align:center;

  }
  @media (min-width: 992px) {
    .desktop-title {
      display: block;
      color: #008080;
    font-family: 'seasideresortnfregular';
      font-size: 60px;
      text-align: center;
      margin: 5px 0 5px 0;


    }
    .mobile-title {
      display: none;
    }
  }

  .block {
    background-color: white;
    margin: 60px 60px 60px 60px;
  }

.col-md-4 {
  background-color: white;
      margin: 0px 0px 60px 0px;
}

@font-face {
    font-family: 'seasideresortnfregular';
    src: url('SEASRN__-webfont.eot');
    src: url('SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('SEASRN__-webfont.woff2') format('woff2'),
         url('SEASRN__-webfont.woff') format('woff'),
         url('SEASRN__-webfont.ttf') format('truetype'),
         url('SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
