/* .heading {
  background-color: white;

}
  h1 a {
    display: block;
    color: green;
    background-color: white;
    font-family: 'seasideresortnfregular';
    font-size: 60px;
    text-align:center;
  }
  h6 {
    font-size: 30px;
    text-align: left;
    padding: 20px 0px 0px 0px;
    margin: 10px 10px;
    font-family: 'seasideresortnfregular';
    color: grey;
  }

  h1
  {display: block;
  color: green;
  background-color: white;
  font-family: 'seasideresortnfregular';
  font-size: 40px;
  text-align:center;}

  h2 {
    text-align: center;
    margin: 10px 0 40px 0;
    color: green;
    font-size: 17px;
    font-family: arial, cursive ;
    font-family: 'Marck Script', cursive;
  }
  h3 {
    text-align: center;
    margin: 10px 0 40px 0;
    color: white;
    font-size: 20px;
    color: #008080;
    background-color: white;
  }
  body {
    font-family: helvetica, sans-serif;
    background-color: #008080;
    background-image: url("leaves_background.jpg");
  }
  li  {
      display: inline-block;
      padding: 5px;
      display: inline;
      padding: 0px 2px 0px 2px;

  }
    ul {

      padding: 20px;
      background: white;
      text-align: center;

}
.row {
  margin: 6px 6px 6px 6px;

}

  }

  img {
    margin: 20px 0 20px 0;

  }

  body{
    background-color: #008080;

  }

  p{
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin: 10px 10px;
  }

  div {
    background-color:white;
    margin: 20px 60px 20px 60px;
  }

  .buttons {
    height:60px;
    width: 50px;
    text-align: center;


  }
.clearfix {
  text-align: center;
}

    p {
      text-align: center;
      margin: 10px 0 40px 0;
      color: #008080;
      font-family: 'Marmelad', sans-serif;
      font-size: 20px;
    }

input {
  width:90%;
  border: 2px solid #008080;
  color:#008080;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 5px 5px;
}

label {
  text-align: center;
  margin: 10px 10px 40px 10px;
  color: #008080;
  font-family: 'Marmelad', sans-serif;
  font-size: 18px;
}

/*navigation style*/
/* ul li {
  float: left;
  list-style: none;
  font-family: 'seasideresortnfregular';
  margin-right: 1em;
} */

/* li a{
  color: inherit;
  Text-decoration: none;
  float: center;
  font-size: 15px;
  padding: 5px;
  max-width: 100%;
  color: green;
}

li a: hover {
  color: inherit;
}

@font-face {
    font-family: 'seasideresortnfregular';
    src: url('SEASRN__-webfont.eot');
    src: url('SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('SEASRN__-webfont.woff2') format('woff2'),
         url('SEASRN__-webfont.woff') format('woff'),
         url('SEASRN__-webfont.ttf') format('truetype'),
         url('SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
    font-weight: normal;
    font-style: normal;

} */

/*slideshow style*/
/* .text{
  color: green;
  font-size: 35px;
  text-align: center;
  font-family: arial, cursive ;
  font-family: 'Marck Script', cursive;
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: green;
}

.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.cherry_blossom_4k_timelapse {
  width: 100px;
  height: auto;
}

div  .col-md-4{
  background-color: white;
  margin: 0px 0px 60px 0px;
}



.topnav {
  padding-bottom:4px 4px 0px 4px;
}

li {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    float: left;
    font-size: 20px;
  }

li {
  float: left;
}
li a:link{
  width:150px;
  display: inline-block;
  padding: 1px;
  font-size: 11.5px;
  font-weight:bolder;
  float: left;
}
.search {
   width: 150px;
   height: 10px;
   float: right;
   font-size: 9px;
   margin-top: 0px;
 } */
 body {
   font-family: 'marmelad', cursive;
   background-image: url("leaves_background.jpg");
 }

 div {
   background-color:white;
   margin: 20px 60px 20px 60px;
   padding: 5px 10px 5px 10px;
 }

 .heading {
   padding: 0px;
   margin: 10px 60px 0px 60px;
 }

 @font-face {
     font-family: 'seasideresortnfregular';
     src: url('SEASRN__-webfont.eot');
     src: url('SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
          url('SEASRN__-webfont.woff2') format('woff2'),
          url('SEASRN__-webfont.woff') format('woff'),
          url('SEASRN__-webfont.ttf') format('truetype'),
          url('SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 h1
 {display: block;
 color: green;
 background-color: white;
 font-family: 'seasideresortnfregular';
 font-size: 50px;
 text-align:center;
 }
 h1 a {
   display: block;
   color: green;
   background-color: white;
   font-family: 'seasideresortnfregular';
   text-align:center;
 }
 h2 {
   text-align: center;
   margin: 10px 0 40px 0;
   color: green;
   font-size: 17px;
   font-family: 'Marck Script', cursive;
 }
 h3 {
   text-align: center;
   font-size: 40px;
   font-family: 'marmelad', cursive;
   color: green;

 }

 .cherry_blossom_4k_timelapse {
   width: 100px;
   height: auto;
   float:left;
 }


 li  {
     display: inline-block;
     padding: 5px;
     display: inline;
     padding: 0px 2px 0px 2px;

 }

 ul {
       padding: 10px;
       background: white;
       text-align: center;
     }
 ul li {
       list-style: none;
       font-family: 'seasideresortnfregular';
       margin-right: 1em;
       color: grey;
       text-align: center;
     }

 li a{
   color: inherit;
   Text-decoration: none;
   font-size: 15px;
   padding: 5px;
   max-width: 100%;
   color: green;
 }
 .search {
   float:right;
   width:10%;
   border: 2px solid green;
   color: green;
   text-align: center;
   height: 30px;

 }
 li a: hover {
   color: inherit;
 }
 .topnav {
   padding-bottom:4px 4px 0px 4px;
 }
 li {
     border-right: 1px solid #bbb;
     border-bottom: 1px solid #bbb;

   }
 .gif {
   background-color:white;
   margin: 20px 60px 20px 60px;
   padding: 5px 10px 5px 10px;
 }

 img {
     margin: 20px 0 20px 0;
   }
   .buttons {
   height:30px;
   width: 30px;
   text-align: center;
 }
 .row {
   margin: 6px 6px 6px 6px;
 }
 div  .col-md-4{
   background-color: white;
   margin: 0px 0px 60px 0px;
 }
 .welcome p {
   font-size: 25px;
   font-family: 'Marck Script', cursive;
   padding: 100px 20px 115px 20px;
   text-align:center;
   background-color: black;
   color: white;
 }

 h6 {
   font-size: 15px;
   text-align: center;
   padding: 10px 0px 0px 30px;
   margin: 10px 10px;
   font-family: 'seasideresortnfregular';
   color: grey;
 }
 .contact ul li {
   font-family: 'marmelad',cursive;
   font-size: 12px;
   border-bottom: 0;
 }

p{
  color:green;
}

.text{
   color: green;
   font-size: 35px;
   text-align: center;
   font-family: arial, cursive ;
   font-family: 'Marck Script', cursive;
 }
 .slideshow-container {
   max-width: 900px;
   position: relative;
   margin: auto;
 }

 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: black;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
 }

 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }

 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }

 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }

 .active, .dot:hover {
   background-color: green;
 }

 .fader {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 2s;
   animation-name: fade;
   animation-duration: 2s;
 }

 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @media only screen and (max-width: 300px) {
   .prev, .next,.text {font-size: 11px}

 }

 input {
   width:90%;
   border: 2px solid #008080;
   color:#008080;
   text-align: center;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 12px 20px;
   margin: 5px 5px;
 }
