
  h1 a {
    display: block;
    color: white;
    font-family: 'Marmelad', sans-serif;
    font-size: 60px;
    text-align:center;
  }
  h2 {
    text-align: center;
    margin: 10px 0 40px 0;
    color: white;
    font-size: 20px;
  }
  h3 {
    text-align: center;
    margin: 10px 0 40px 0;
    color: white;
    font-size: 20px;
    color: #008080;
    background-color: white;
  }
  body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background-color: #008080;
  }
  li  {
      display: inline-block;
      padding: 5px;
      display: inline;
      padding: 0px 2px 0px 2px;

  }
    ul {

      padding: 20px;
      background: white;
      text-align: center;


  }

  img {
    margin: 20px 0 20px 0;
    width: 100%;

  }

  body{
    background-color: #008080;

  }

  p{
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin: 10px 10px;
  }

  div {
    background-color:white;
  }

  .buttons {
    height:60px;
    width: 50px;
    text-align: center;


  }
.clearfix {
  text-align: center;
}

    p {
      text-align: center;
      margin: 10px 0 40px 0;
      color: #008080;
      font-family: 'Marmelad', sans-serif;
      font-size: 20px;
    }

input {
  width:90%;
  border: 2px solid #008080;
  color:#008080;
  text-align: center;
  border-radius: 4px;
  box-sizing:border-box;
  padding: 12px 20px;
  margin: 8px 8px;
}

label {
  text-align: center;
  margin: 10px 10px 40px 10px;
  color: #008080;
  font-family: 'Marmelad', sans-serif;
  font-size: 18px;
}

/*navigation style*/



/*slideshow style*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


#blossom {
  margin: 0px 20px;

}
